{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}

{% block content %}
<h2 class=mb-3>Add Post for {{ user.first_name }} {{ user.last_name }}</h2>

<form method="POST">
  <label for="title" class="mb-3 col-1">Title</label>
  <input type="text" name="title" id="title" class="w-75"> <br>

  <label for="content" class="mb-3 col-1">Content</label>
  <textarea type="text" name="content" id="content" class="w-75"></textarea> <br>

  <input
    type="submit"
    class="btn btn-info"
    formaction="/users/{{ user.id }}"
    formmethod="GET"
    value="Cancel">
  <input
    type="submit"
    class="btn btn-success"
    formaction="/users/{{ user.id }}/posts/new"
    formmethod="POST"
    value="Add">
</form>

<!-- This is a test for the addpost.html page -->

{% endblock %}