{% extends 'base.html' %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %}

{% block content %}

{% if user.image_url %}
<img src="{{ user.image_url }}" style="display: inline-block" class="w-25 h-25">
{% endif %}

<!-- Styling question -->
<div style="display: inline">
  <h1
    style="display: inline-block"
    class="w-100">
    {{ user.first_name }} {{ user.last_name }}
  </h1>

  <form>
    <input
      type="submit"
      class="btn btn-primary"
      formaction="/users/{{ user.id }}/edit"
      formmethod="GET"
      value="Edit User">
    <input
      type="submit"
      class="btn btn-danger"
      formaction="/users/{{ user.id }}/delete"
      formmethod="POST"
      value="Delete User">
  </form>

  <h3>Posts</h3>

  <ul>
  {% for post in user.posts %}
  <li>
    <a href="/posts/{{post.id}}">{{ post.title }}</a>
  </li>
  {% endfor %}
  </ul>

  <a href="/users/{{user.id}}/posts/new" class="btn btn-primary">Add Post</a>

</div>

<!-- This is to test we are in the User Page -->
{% endblock %}