{% extends 'base.html' %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %}

{% block content %}

{% if user.image_url %}
<img src="{{ user.image_url }}" style="display: inline-block" class="w-25 h-25">
{% endif %}

<div style="display: inline">
  <h1
    style="display: inline-block"
    class="w-100">
    {{ user.first_name }} {{ user.last_name }}
  </h1>

  <!-- <a href="/users/{{ user.id }}/edit" class="btn btn-primary">Edit User</a>

  <form
    action="/users/{{ user.id }}/delete"
    method ="POST"
    style="display: inline;">
    <input type="submit" class="btn btn-danger" value="Delete User">
  </form> -->

  <form>
    <input
      type="submit"
      class="btn btn-primary"
      formaction="/users/{{ user.id }}/edit"
      formmethod="GET"
      value="Edit User">
    <input
      type="submit"
      class="btn btn-danger"
      formaction="/users/{{ user.id }}/delete"
      formmethod="POST"
      value="Delete User">
  </form>

</div>
{% endblock %}